/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/10/2020, 11:11:15 PM
    Author     : busqu
*/
.input-icon {
     position: relative;
}

.input-icon > i {
     position: absolute;
     display: block;
     transform: translate(0, -50%);
     top: 50%;
     pointer-events: none;
     width: 25px;
     text-align: center;
     font-style: normal;
}

.input-icon > input {
     padding-left: 25px;
     padding-right: 0;
}

.input-icon-right > i {
     right: 0;
}

.input-icon-right > input {
     padding-left: 0;
     padding-right: 25px;
     text-align: right;
}
.reves{ 
  unicode-bidi: bidi-override;
  direction: rtl;
}
